

.msg-bottom {
    /* position: relative; */
    height: 10%;
    width: 100%;
    /* background-color: #007bff; */
    /* position: absolute; */
    bottom: 0;
}

.input-group {
    float: right;
    margin-top: 10px;
    margin-right: 18px;
    outline: none !important;
    border-radius: 20px;
    width: 95% !important;
    background-color: #fff;
}

.form-control {
    border: none !important;
    border-radius: 20px !important;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
}

.input-group .fa {
    padding-top: 4px;
    color: #2f8021;
    float: right;
}  

.bottom-icons {
    float: left;
    margin-top: 17px;
    width: 30% !important;
    margin-left: 22px;
}

.bottom-icons .fa {
    color: #fff;
    padding: 5px;
}

.form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 20px;
}


#roomComponent {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* 
#groupChatComponent {
  scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1) !important;
  scrollbar-width: thin !important;
} *//* width */

/* scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1);
scrollbar-width: thin; */

*::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: #000; 
  }
   
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #414345; 
  }
  
  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #414345; 
  }